<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./src/css/account.css">
</head>

<body>
    <div class="screen container-fluid">
        <!-- 中间内容部分 -->
        <div class="row content">
            <div class="head">
                <div class="headleft">
                    <img src="./src/img/head.jpg" class="img-circle">
                    <span class="">咔咔</span>
                </div>
                <img src="./src/img/er.jpg" class="er">
            </div>
            <div class="pro col-xs-12">购票</div>
            <div class="pro col-xs-12">我的订单</div>
            <div class="pro col-xs-12">乘客信息</div>
            <div class="pro col-xs-12">关注项目</div>
            <div class="pro col-xs-12">在线客服</div>
            <div class="pro col-xs-12">系统设置</div>
        </div>
        <div class="row myMessage"></div>
        <!-- 购票部分 -->
        <div class="row buyTicket">
            <div class="closeBtn col-xs-12">
                <span>购票</span> <span class="glyphicon glyphicon-menu-right "></span>
                <button type="button" class="close text-right"><span>&times;</span></button>
            </div>
            <div class="project col-xs-12">
            <div class="leftimg col-xs-4">
                <img src="" >
                <h3>通票</h3>
            </div> <div class="leftimg col-xs-4">
                <img src="" >
                <h3>xxx/人</h3>
            </div>
            
           
        </div>
            <form>
            <div class="buy01">
                <button type="button" class="userbtn col-xs-12 list-group-item text-left" >
                    
                            <span>姓名 </span>
                            <span>手机号 </span>
                            <input class="buyinput" type="checkbox">
                        </button>
            </div>
            <button type="button" class ="nextbtn btn btn-success col-xs-offset-3 col-xs-6" style="height:40px;margin-top:20px;">下一步</button>
            </form>
            <div class="buy02">

            </div>
            <div class="buysuccess">
                <p class="col-xs-12 text-center"></p>
                <p class="col-xs-12 text-center">购票成功!</p>
            </div>
        </div>
        <!-- 乘客信息  -->
        <div class="row userMessage">
            <div class="closeBtn col-xs-12">
                <span>乘客信息</span> <span class="glyphicon glyphicon-menu-right "></span>
                <button type="button" class="close text-right"><span>&times;</span></button>
            </div>
            <div class="user col-xs-12">
                <div class="f_btn">
                    <button class='col-xs-offset-9 col-xs-3  btn btn-default add'>添加乘客</button>
                </div>
                <div class="list-group">
                </div>
                <div class="end">
                    <p class="text-center">end...</p>
                </div>
            </div>
            <div class="updata col-xs-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-xs-2 control-label text-right">姓名:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="name" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tel" class="col-xs-2 control-label text-right">电话:</label>
                        <div class="col-xs-10">
                            <input type="number" class="form-control" id="tel" placeholder="电话">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-4">
                            <button type="button" class="btn btn-default cancel">取消</button>
                        </div>
                        <div class="col-xs-offset-2 col-xs-4">
                            <button type="button" class="btn btn-success submit">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>




<div class="row userMessage">
            <div class="closeBtn col-xs-12">
                <span>乘客信息</span> <span class="glyphicon glyphicon-menu-right "></span>
                <button type="button" class="close text-right"><span>&times;</span></button>
            </div>
            <div class="user col-xs-12">
                <div class="f_btn">
                    <button class='col-xs-offset-9 col-xs-3  btn btn-default add'>添加乘客</button>
                </div>
                <div class="list-group">
                </div>
                <div class="end">
                    <p class="text-center">end...</p>
                </div>
            </div>
            <div class="updata col-xs-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-xs-2 control-label text-right">姓名:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="name" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tel" class="col-xs-2 control-label text-right">电话:</label>
                        <div class="col-xs-10">
                            <input type="number" class="form-control" id="tel" placeholder="电话">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-4">
                            <button type="button" class="btn btn-default cancel">取消</button>
                        </div>
                        <div class="col-xs-offset-2 col-xs-4">
                            <button type="button" class="btn btn-success submit">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>



        
        <!-- 乘客信息的模态框 -->
        <div class="modal fade addUserModel" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">修改乘客信息</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-xs-2 control-label text-right">姓名:</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="name" placeholder="姓名" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tel" class="col-xs-2 control-label text-right">电话:</label>
                                <div class="col-xs-10">
                                    <input type="number" class="form-control" id="tel" placeholder="电话" value="">
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 乘客信息结束  -->
        <!-- 我的订单 -->
        <div class="row orderForm">
            <div class="closeBtn col-xs-12">
                <span>我的订单</span> <span class="glyphicon glyphicon-menu-right "></span>
                <button type="button" class="close text-right"><span>&times;</span></button>
            </div>
            <div class="order list-group">
            </div>
            <div class="orderContent">
                <img src="" class="img-rounded">
                <span class="proname">项目名称</span>
                <p class="text-center">使用人: <span class="username"></span></p>
                <p class="text-center">金&nbsp;&nbsp;&nbsp;&nbsp;额：<span class="money"></span> 元</p>
                <p class="text-right return">返回上一页</p>
            </div>
        </div>
        <!-- 关注项目 -->
        <div class="row attention">
            <div class="closeBtn col-xs-12">
                <span>我的关注</span> <span class="glyphicon glyphicon-menu-right "></span>
                <button type="button" class="close text-right"><span>&times;</span></button>
            </div>
            <div class="row projects">
                 <div class="project col-xs-12"> 
            <div class="leftimg col-xs-4"> 
                <img src= ""  > 
                <span>   data.name    </span> 
            </div> 
            <div class="l1 col-xs-2"> 
                <div class="starsImg "></div> 
                <p>当前人数:</p> 
                <p class="l1_con1">  xxx  人</p> 
            </div> 
            <div class="l2 col-xs-2"> 
                <p>热度：<span>   xxx  </span> </p>   
                 <p>预计等待</p><p class="l2_con1"> xx分钟</p>     
            </div> 
            <div class="right col-xs-4"> 
                <button class="see btn btn-success">   查看详情    </button> 
            </div> 
        </div> 
            </div>
        </div>


        <!-- 在线服务 -->
        <div class="row service">
            <div class="closeBtn col-xs-12">
                <span>在线服务</span> <span class="glyphicon glyphicon-menu-right "></span>
                <button type="button" class="close text-right"><span>&times;</span></button>
            </div>
            <div class="ser_con">
                <div class="que">
                    <p class="sercolorp text-left">问题1：这是收购合并么哦i是否</p>
                    <p class="sercolorp text-left">问题2：这是收购合并么哦i是否</p>
                    <p class="sercolorp text-left">问题3：这是收购合并么哦i是否</p>
                    <p class="sercolorp text-left">问题4：这是收购合并么哦i是否</p>
                    <p class="sercolorp text-left">问题5：这是收购合并么哦i是否</p>
                    <p class="sercolorp text-left">问题6：这是收购合并么哦i是否</p>
                </div>
                <div class="answer">
                    <p></p>
                    <p></p>
                    <a href="javascript:void(0)">返回上一页</a>
                </div>
            </div>
        </div>
        <!-- 系统设置 -->
        <div class="row setSystem">
            <div class="closeBtn col-xs-12">
                <span>在线服务</span> <span class="glyphicon glyphicon-menu-right "></span>
                <button type="button" class="close text-right"><span>&times;</span></button>
            </div>
            <div class="sys_fun">

                <p class="text-center">温馨服务</p>
                <p class="text-center">系统通知</p>
                <p class="text-center">关于我们</p>
                <p class="text-center">注销</p>
            </div>
            <div class="sys_con">
                <p class="text-center"></p>
                <a href="javascript:void(0)">返回上一页</a>
            </div>
        </div>
        <!-- 尾部固定部分 -->
        <div class="row footer">
            <div class="sy col-xs-2 col-xs-offset-1">
                <a href="./index.html">
                    <span class="glyphicon glyphicon-home"></span>
                    <span>首页</span>
                </a>
            </div>
            <div class="dt col-xs-2">
                <a href="./map.html">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <span>地图</span>
                </a>
            </div>
            <div class="xx col-xs-2">
                <a href="./message.html">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span>信息</span>
                </a>
            </div>
            <div class="dl col-xs-2">
                <a href="./online.html">
                    <span class="glyphicon glyphicon-flag"></span>
                    <span>队列</span>
                </a>
            </div>
            <div class="wd col-xs-2">
                <a href="javascript:void(0)">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>我的</span>
                </a>
            </div>
        </div>
    </div>

    <script src="./bootstrap/js/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="./src/js/account.js"></script>
    <script>
        $('.wd a').css("color", "#f40");
    </script>
</body>

</html>