<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./src/css/xz.css">
</head>

<body>
    <div class="screen container-fluid">
        <!-- 中间内容部分 -->
       
        <!-- 乘客信息结束  -->
        <!-- 我的订单 -->
        <div class="row orderForm">
            <div class="closeBtn col-xs-12">
                <span>我的订单</span> <span class="glyphicon glyphicon-menu-right "></span>
                <button type="button" class="close text-right"><span>&times;</span></button>
            </div>
            <div class="order list-group">
                <button type="button" class="col-xs-12 list-group-item">
            <img src="" class="img-thumbnail">
            <span>通票 </span>
            <span>购买时间 </span>
            <span>姓名 </span>
             </button>
            </div>
           
            <p class="text-center return">返回上一页</p>
        </div>
        <!-- 关注项目 -->
        


        <!-- 在线服务 -->
       
        <!-- 系统设置 -->
       
        <!-- 尾部固定部分 -->
        </div>
    <script src="./bootstrap/js/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="./src/js/account.js"></script>
    <script>
        $('.wd a').css("color", "#f40");
    </script>
</body>

</html>