<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./src/css/online.css">
</head>

<body>
    <div class="screen container-fluid">
        <!-- 中间内容部分 -->
        <div class="h row">
            <div class="col-xs-12">
                <p class="text-center">正在排队...</p>
            </div>
        </div>
    <div class="row content">
	<div class="line col-xs-12">
        <div class="leftimg col-xs-4">
            <img src="+ data.imgsrc + ">
            <span>fdsfds</span>
        </div>
        <div class="l1 col-xs-2">
            <p>序列号:</p>
            <p class="l1_con1">fdsfdsf</p>
        </div>
        <div class="l2 col-xs-2">
            <p>游玩时间</p>
            <p class="l2_con1">fd  分钟</p>
        </div>
        <div class="right col-xs-4">
            <button class="cancel btn btn-default">取消排队</button>
        </div>
        </div>

<div class="line col-xs-12">
        <div class="leftimg col-xs-4">
            <img src="+ data.imgsrc + ">
            <span>fdsfds</span>
        </div>
        <div class="l1 col-xs-2">
            <p>序列号:</p>
            <p class="l1_con1">fdsfdsf</p>
        </div>
        <div class="l2 col-xs-2">
            <p>游玩时间</p>
            <p class="l2_con1">fd  分钟</p>
        </div>
        <div class="right col-xs-4">
           <button style="margin-left: 40px;" class="up btn btn-success"><span class="glyphicon glyphicon-arrow-up"></span></button>
        </div>
        </div>
        </div>



        <!-- 尾部固定部分 -->
        <div class="row footer">
            <div class="sy col-xs-2 col-xs-offset-1">
                <a href="./index.html">
                    <span class="glyphicon glyphicon-home"></span>
                    <span>首页</span>
                </a>
            </div>
            <div class="dt col-xs-2">
                <a href="./map.html">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <span>地图</span>
                </a>
            </div>
            <div class="xx col-xs-2">
                <a href="./message.html">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span>信息</span>
                </a>
            </div>
            <div class="dl col-xs-2">
                <a href="javascript:void(0)">
                    <span class="glyphicon glyphicon-flag"></span>
                    <span>队列</span>
                </a>
            </div>
            <div class="wd col-xs-2">
                <a href="./account.html">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>我的</span>
                </a>
            </div>
        </div>
    </div>

    <script src="./bootstrap/js/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="./src/js/online.js"></script>
    <script>
        $('.dl a').css("color", "#f40");
    </script>
</body>

</html>