<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./src/css/promessage.css">
</head>

<body>
    <div class="screen container-fluid">
        <div class="row">
            <div class="col-xs-12 return">返回上一页<span class="glyphicon glyphicon-menu-right "></span></div>
            <span class="shoucang glyphicon glyphicon-star"></span> 
            <img src="./src/img/xm06.jpg" class="col-xs-12">
            <div class="proname col-xs-12">
               <p class="text-center">激流涌动</p>
            </div>
            <div class="col-xs-6 waitperson">
                <p class="text-center">当前排队人数</p>
                <p class="text-center">0人</p>
            </div>
            <div class="col-xs-6 waittime">
                <p class="text-center">预计排队时间</p>
                <p class="text-center">0分种</p>
            </div>
            <div class="col-xs-6 findmap">
                <span class="glyphicon glyphicon-map-marker"></span>
                <p class="text-center">在地图上查找</p>
            </div>
            <div class="col-xs-6 startline">
                <span class="glyphicon glyphicon-hand-right"></span>
                <p class="text-center">开始排队</p>
            </div>
            <div class="col-xs-12 tour">
                <p class="text-center">游客须知</p>
            </div>
            <div class="col-xs-12 things">
                <p class="text-center">注意事项</p>
            </div>
        </div>
    </div>

    <script src="./bootstrap/js/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="./src/js/promessage.js"></script>

</body>

</html>