<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./src/css/xz.css">
</head>

<body>

    <div class="screen container-fluid">
        <!-- 中间内容部分 -->
        
        <!-- 购票部分 -->
      
        <!-- 乘客信息  -->
        <div class="row userMessage">
            <div class="closeBtn col-xs-12">
                <span>乘客信息</span> <span class="glyphicon glyphicon-menu-right "></span>
                <button type="button" class="close text-right"><span>&times;</span></button>
            </div>
            <div class="user col-xs-12">
                <div class="f_btn">
                    <button class='col-xs-offset-9 col-xs-3  btn btn-default add'>添加乘客</button>
                </div>
                <div class="list-group">
                    <button type="button" class="col-xs-12 list-group-item text-left" data-toggle="modal" data-target="#myModal">
                <span>姓名</span>
                <span>手机</span>
                </button>
                </div>
                <div class="end">
                    <p class="text-center">end...</p>
                </div>

            </div>
        
        </div>






        
        <!-- 乘客信息的模态框 -->
       
        <!-- 乘客信息结束  -->
        <!-- 我的订单 -->
       
        <!-- 关注项目 -->
       


        <!-- 在线服务 -->
      
        <!-- 系统设置 -->
        
        <!-- 尾部固定部分 -->
       
    </div>

    <script src="./bootstrap/js/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="./src/js/account.js"></script>
    <script>
        $('.wd a').css("color", "#f40");
    </script>
</body>

</html>