.container-fluid .footer {
  z-index: 999;
  background: #fff;
  border-top: 1px solid #ccc;
  padding-top: 8px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.container-fluid .footer div a {
  color: #424242;
  text-decoration: none;
}
.container-fluid .footer div a span:nth-child(1) {
  margin-left: 6px;
  margin-right: 5px;
}
.container-fluid .footer div a span:nth-child(2) {
  font-size: 14px;
}
.container-fluid .content {
  overflow: scroll;
}
.container-fluid .content .head {
  position: relative;
  background: #424242;
  border: 1px solid transparent;
  font-size: 18px;
  color: #fff;
  height: 200px;
}
.container-fluid .content .head .headleft {
  margin-top: 80px;
  margin-left: 20px;
}
.container-fluid .content .head .headleft img {
  width: 90px;
  height: 90px;
}
.container-fluid .content .head .er {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 30px;
}
.container-fluid .content .pro {
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: bolder;
}
.container-fluid .myMessage {
  display: none;
}
.container-fluid .buyTicket {
  display: none;
  overflow: scroll;
}
.container-fluid .buyTicket .closeBtn {
  font-size: 18px;
  font-weight: bolder;
  height: 30px;
}
.container-fluid .buyTicket .closeBtn span {
  line-height: 30px;
}
.container-fluid .buyTicket .closeBtn button span {
  line-height: 30px;
}
.container-fluid .buyTicket .buy01 button {
  height: 60px;
  position: relative;
  margin-bottom: 10px;
}
.container-fluid .buyTicket .buy01 button span {
  display: inline-block;
  line-height: 40px;
  font-size: 18px;
  margin-right: 10px;
}
.container-fluid .buyTicket .buy01 button span:nth-child(1) {
  width: 80px;
}
.container-fluid .buyTicket .buy01 button input {
  position: absolute;
  right: 10px;
  display: inline-block;
  top: 20px;
}
.container-fluid .buyTicket .buy02 .project {
  font-size: 12px;
  margin-top: 5px;
}
.container-fluid .buyTicket .buy02 .project .leftimg {
  margin-top: 2px;
  text-align: center;
  margin-left: -5px;
}
.container-fluid .buyTicket .buy02 .project .leftimg img {
  margin-left: -6px;
  width: 100px;
  height: 50px;
}
.container-fluid .buyTicket .buy02 .project .l1 .starsImg {
  margin-top: 2px;
  background: url(../img/stars.png);
  width: 55px;
  height: 11px;
  margin-left: -15px;
  background-position: 0 0;
  overflow: hidden;
}
.container-fluid .buyTicket .buy02 .project .l1 p {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 55px;
  margin-left: -15px;
  text-align: center;
}
.container-fluid .buyTicket .buy02 .project .l1 .l1_con1 {
  font-size: 14px;
  font-weight: bolder;
}
.container-fluid .buyTicket .buy02 .project .l2 {
  margin-left: 5px;
  border-left: 3px solid #ccc;
}
.container-fluid .buyTicket .buy02 .project .l2 p {
  margin-left: -8px;
  width: 55px;
  margin-top: 2px;
  padding: 0;
  margin-bottom: 2px;
}
.container-fluid .buyTicket .buy02 .project .l2 .l2_con1 {
  margin-top: -2px;
  margin-left: -8px;
  font-size: 14px;
  font-weight: bolder;
}
.container-fluid .buyTicket .buy02 .project .right button {
  margin-top: 15px;
  margin-left: 35px;
}
.container-fluid .buyTicket .buysuccess {
  display: none;
}
.container-fluid .buyTicket .buysuccess p:nth-child(1) {
  margin-top: 30px;
  font-size: 26px;
  font-weight: bolder;
}
.container-fluid .buyTicket .buysuccess p:nth-child(2) {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bolder;
}
.container-fluid .userMessage {
  overflow: scroll;
  position: relative;
  display: none;
}
.container-fluid .userMessage .closeBtn {
  font-size: 18px;
  font-weight: bolder;
  height: 30px;
}
.container-fluid .userMessage .closeBtn span {
  line-height: 30px;
}
.container-fluid .userMessage .closeBtn button span {
  line-height: 30px;
}
.container-fluid .userMessage .user .f_btn button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-fluid .userMessage .user .list-group button {
  height: 60px;
  position: relative;
  margin-bottom: 10px;
}
.container-fluid .userMessage .user .list-group button span {
  display: inline-block;
  line-height: 40px;
  font-size: 18px;
  margin-right: 10px;
}
.container-fluid .userMessage .user .list-group button span:nth-child(1) {
  width: 80px;
}
.container-fluid .userMessage .user .list-group button input {
  position: absolute;
  right: 10px;
}
.container-fluid .userMessage .user .end {
  font-size: 16px;
  color: #888;
}
.container-fluid .userMessage .updata {
  display: none;
  margin-top: 200px;
}
.container-fluid .orderForm {
  display: none;
  overflow: scroll;
}
.container-fluid .orderForm .closeBtn {
  font-size: 18px;
  font-weight: bolder;
  height: 30px;
}
.container-fluid .orderForm .closeBtn span {
  line-height: 30px;
}
.container-fluid .orderForm .closeBtn button span {
  line-height: 30px;
}
.container-fluid .orderForm .order button {
  height: 100px;
}
.container-fluid .orderForm .order button img {
  width: 80px;
  height: 80px;
}
.container-fluid .orderForm .order button span {
  margin-left: 10px;
  font-weight: bolder;
}
.container-fluid .orderForm .orderContent {
  display: none;
}
.container-fluid .orderForm .orderContent img {
  margin-top: 10px;
  width: 150px;
  height: 120px;
  margin-left: 15px;
}
.container-fluid .orderForm .orderContent span {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 18px;
  font-weight: bolder;
}
.container-fluid .orderForm .orderContent p {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bolder;
}
.container-fluid .orderForm .orderContent .return {
  text-decoration: underline;
  font-size: 18px;
  color: #777;
}
.container-fluid .attention {
  display: none;
  overflow: scroll;
}
.container-fluid .attention .closeBtn {
  font-size: 18px;
  font-weight: bolder;
  height: 30px;
}
.container-fluid .attention .closeBtn span {
  line-height: 30px;
}
.container-fluid .attention .closeBtn button span {
  line-height: 30px;
}
.container-fluid .attention .project {
  font-size: 12px;
  margin-top: 5px;
}
.container-fluid .attention .project .leftimg {
  margin-top: 2px;
  text-align: center;
  margin-left: -5px;
}
.container-fluid .attention .project .leftimg img {
  margin-left: -6px;
  width: 100px;
  height: 50px;
}
.container-fluid .attention .project .l1 .starsImg {
  margin-top: 2px;
  background: url(../img/stars.png);
  width: 55px;
  height: 11px;
  margin-left: -15px;
  background-position: 0 0;
  overflow: hidden;
}
.container-fluid .attention .project .l1 p {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 55px;
  margin-left: -15px;
  text-align: center;
}
.container-fluid .attention .project .l1 .l1_con1 {
  font-size: 14px;
  font-weight: bolder;
}
.container-fluid .attention .project .l2 {
  margin-left: 5px;
  border-left: 3px solid #ccc;
}
.container-fluid .attention .project .l2 p {
  margin-left: -8px;
  width: 55px;
  margin-top: 2px;
  padding: 0;
  margin-bottom: 2px;
}
.container-fluid .attention .project .l2 .l2_con1 {
  margin-top: -2px;
  margin-left: -8px;
  font-size: 14px;
  font-weight: bolder;
}
.container-fluid .attention .project .right button {
  margin-top: 15px;
  margin-left: 10px;
}
.container-fluid .service {
  display: none;
  overflow: scroll;
}
.container-fluid .service .closeBtn {
  font-size: 18px;
  font-weight: bolder;
  display: block;
}
.container-fluid .service .closeBtn span {
  line-height: 30px;
}
.container-fluid .service .closeBtn button span {
  line-height: 30px;
}
.container-fluid .service .ser_con {
  margin-top: 50px;
}
.container-fluid .service .ser_con .que p {
  width: 85%;
  border: 2px solid #ccc;
  padding: 3px;
  margin-left: 5px;
  font-size: 18px;
}
.container-fluid .service .ser_con .answer {
  display: none;
}
.container-fluid .service .ser_con .answer p {
  font-size: 22px;
  padding: 10px;
}
.container-fluid .service .ser_con .answer p:nth-child(2) {
  font-size: 20px;
}
.container-fluid .service .ser_con .answer a {
  display: inline-block;
  width: 100%;
  color: #424242;
  font-size: 14px;
  text-align: right;
  margin-top: 15px;
}
.container-fluid .setSystem {
  display: none;
  overflow: scroll;
}
.container-fluid .setSystem .closeBtn {
  font-size: 18px;
  font-weight: bolder;
  display: block;
}
.container-fluid .setSystem .closeBtn span {
  line-height: 30px;
}
.container-fluid .setSystem .closeBtn button span {
  line-height: 30px;
}
.container-fluid .setSystem .sys_fun {
  margin-top: 50px;
}
.container-fluid .setSystem .sys_fun p {
  font-size: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-bottom: 5px solid #ccc;
}
.container-fluid .setSystem .sys_con {
  display: none;
}
.container-fluid .setSystem .sys_con p {
  font-size: 20px;
  color: #ccc;
}
.container-fluid .setSystem .sys_con a {
  display: inline-block;
  width: 100%;
  color: #424242;
  font-size: 14px;
  text-align: right;
  margin-top: 15px;
  padding: 10px;
}
