.container-fluid .footer {
  border-top: 1px solid #ccc;
  padding-top: 8px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 999;
}
.container-fluid .footer div a {
  color: #424242;
  text-decoration: none;
}
.container-fluid .footer div a span:nth-child(1) {
  margin-left: 6px;
  margin-right: 5px;
}
.container-fluid .footer div a span:nth-child(2) {
  font-size: 14px;
}
.container-fluid .mmodal {
  width: 80%;
  height: 50%;
}
.container-fluid .mmodal .mtitle {
  font-size: 18px;
  font-weight: bolder;
}
.container-fluid .mmodal .mcon {
  width: 100%;
}
.container-fluid .mmodal .mcon .imgdemo {
  width: 100px;
  height: 60px;
  float: left;
  margin-right: 10px;
}
