.container-fluid {
  box-sizing: border-box;
}
.container-fluid .footer {
  z-index: 999;
  background: #fff;
  border-top: 1px solid #ccc;
  padding-top: 8px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.container-fluid .footer div a {
  color: #424242;
  text-decoration: none;
}
.container-fluid .footer div a span:nth-child(1) {
  margin-left: 6px;
  margin-right: 5px;
}
.container-fluid .footer div a span:nth-child(2) {
  font-size: 14px;
}
.container-fluid .h div p {
  font-size: 18px;
  font-weight: bolder;
  color: #666;
  margin-top: 5px;
  margin-bottom: 5px;
}
.container-fluid .content {
  overflow: scroll;
}
.container-fluid .content .line {
  transition: all 1s;
  border: 1px solid #ccc;
  font-size: 12px;
  margin-top: 5px;
}
.container-fluid .content .line .leftimg {
  margin-top: 2px;
  text-align: center;
  margin-left: -5px;
}
.container-fluid .content .line .leftimg img {
  margin-left: -10px;
  width: 100px;
  height: 50px;
}
.container-fluid .content .line .l1 .starsImg {
  margin-top: 2px;
  background: url(../img/stars.png);
  width: 55px;
  height: 11px;
  margin-left: -15px;
  background-position: 0 0;
  overflow: hidden;
}
.container-fluid .content .line .l1 p {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 55px;
  margin-left: -15px;
  text-align: center;
}
.container-fluid .content .line .l1 .l1_con1 {
  font-size: 14px;
  font-weight: bolder;
}
.container-fluid .content .line .l2 {
  margin-top: 10px;
  margin-left: 5px;
  border-left: 3px solid #ccc;
}
.container-fluid .content .line .l2 p {
  margin-left: -8px;
  width: 55px;
  margin-bottom: 2px;
}
.container-fluid .content .line .l2 .l2_con1 {
  margin-top: -2px;
  margin-left: -8px;
  font-size: 14px;
  font-weight: bolder;
}
.container-fluid .content .line .right button {
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 10px;
}
